@keyframes rippleEffect {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes distortionShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 0;
  }
} 